{% extends "layout.twig" %}

{% block head %}
	<title>Le film.fr</title>
	<link rel="stylesheet" href="/assets/css/form.css">
  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<script type="text/javascript" src="/assets/js/jquery.maskedinput.min.js"></script>
  <script type="text/javascript" src="/assets/js/jquery.magnific-popup.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid" id="grid">
        <div class="row row-film">

	{% for p in programs %}
    {% if loop.index is divisible by(6) %}
      </div>
      <div class="row row-film">
    {% endif %}
	      <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 film film-main-grid">
                <div class="film-container">
                    <a href="/film/{{ p.seo_url|split('/')[3] }}" alt="{{ p.title }}" title="{{ p.title }}">
                        <div class="film-wrapper" style="background-image: url('{{ p.picture }}');">
                            <section class="film-infos">
                                <h2>{{ p.title }}</h2>
                                <p>
                                    <span>{{ p.categories|first.name }}</span>
                                    <span>{{ p.year }}</span>
                                    <span>{{ p.duration }}</span>
                                </p>
                                <div class="film-play">
                                    <button><i class="fa fa-play"></i></button>
                                </div>
                            </section>
                        </div>
                    </a>
                </div>
            </div>
	{% endfor %}
    
	</div>
    </div>

    <div id="load-more">
        <button><i class="fa fa-spinner"></i>En voir plus</button>
    </div>
    {% include '/fragments/cookies.twig.php' %}
{% endblock %}
